.header{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  height: 90px; 
  color: white;
  transition: 300ms ease-in;
  position: fixed;

  // background: white;
  // color: black; 
  // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
 
  z-index: 999;
  .header__left{
    display: flex;
    align-items: center;
    gap: 12px;
  .header__left_title{
    font-size: 24px;
    
  } 
  }
  .header__center{
   ul{
    display: flex;
    gap: 25px;

    li{
      font-size: 20px;
    }
   } 
  }
  .header__right{
    display: flex;
    gap: 25px;
    ul{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
     
      li{
        font-size: 18px;
        font-weight: bolder;
      }
      span{
        font-size: 18px;

      }
    }
  }
}

.header-active{
    background: white;
  color: #1B315F; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}